<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <base th:href="${#request.getContextPath()}+'/'">
    <title>404</title>
    <link rel="stylesheet" href="css/element-ui-2.12.0.css" />
    <link rel="stylesheet" href="css/css.css" />
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/element-ui-2.12.0.js"></script>
    <script type="text/javascript" src="js/jquery-1.7.1.min.js"></script>

</head>

<body>
<div class="maindl">

 <p>404</p>
</div>
</body>
</html>